/* reset  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2px;

}
article {
  color: red !important;
  letter-spacing: 3px;
}
.news-input {
  background-image:  linear-gradient(135deg, #ffb338, #3e2904);
  color: white;
  /* border-top: 2px solid rgb(9, 9, 9); */
}


:root {
  --gold: #ffb338;
  --light-shadow: #77571d;
  --dark-shadow: #3e2904;
}

.wrapper {
  display: grid;
  /* grid-template-areas: "overlap"; */
  /* place-content: center; */
  text-transform: uppercase;
  height: 15vh;
}
.wrapper > div {
  background-clip: text;
  -webkit-background-clip: text;
  color: #363833;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: clamp(3em, 15vw, 8rem);
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}
div.bg {
  background-image: repeating-linear-gradient(
    105deg,
    var(--gold) 0%,
    var(--dark-shadow) 5%,
    var(--gold) 12%
  );
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
}
div.fg {
  background-image: repeating-linear-gradient(
    5deg,
    var(--gold) 0%,
    var(--light-shadow) 23%,
    var(--gold) 31%
  );
  color: #1e2127;
  transform: scale(1);
}


em {
  background:  linear-gradient(135deg, #c48f45, #d00707,rgb(104, 250, 13));
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.5em;
}


.navbar{
  background-image:  linear-gradient(135deg, #ffb338, #3e2904);


  
}


#fecoShots{
  background-color: rgb(4, 4, 41);  
  
}

.card-body, .card-footer{
  background-color: rgb(4, 4, 41);
}
 

.card-body p {
  font-size: 1.2rem;
}


footer{
  background-color:  rgb(4, 4, 41);
}
