/* reset  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white !important;
  letter-spacing: 2px !important;

}
article {
  color: red !important;
  letter-spacing: 3px;
}

em {
  background:  linear-gradient(135deg, #c48f45, #d00707,rgb(104, 250, 13));
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.5em;
}


.navbar{
  background-color: rgb(4, 4, 41);

  
}


#fecoShots{
  background-color: rgb(4, 4, 41);  
  
}

.card-body, .card-footer{
  background-color: rgb(4, 4, 41);
}
 

.card-body p {
  font-size: 1.2rem;
}


footer{
  background-color:  rgb(4, 4, 41);
}
